@import url('https://fonts.googleapis.com/css2?family=Chango&family=Press+Start+2P&display=swap');

.App {
  text-align: center;

}

h1{
  font-family: 'Chango', cursive;
}

h2{
  font-family: 'Press Start 2P', cursive;
}

.grid-display{
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: blueviolet;
}

.battle-grid{
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.battle-grid div{
  border: 1px solid hsla(0, 0%, 100%, .2);
}

#namePlayer{
  transform: rotate(-45deg);
}
